<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>login success</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
	 <div class="container text-center">
        <div>
            <h3>Login successful..... <a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Home</a></h3>
        </div>
	 </div>
	 <div>
	 	<object type="text/html" data="https://novotel.accor.com/gb/asia/index.shtml" width="100%" height="700px" style="overflow:auto;">
    		</object>
	 </div>   
	 
</body>
</html>
